
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/lib/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="~/css/usuario_index.css">
</head>
<body>
    <!-------------------- Header Area (Start) -------------------->
   
    <!-------------------- Header Area (End) -------------------->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-------------------- Footer Area (Start) -------------------->
    
    <script src="~/vendors/jquery/jquery-3.6.0.js"></script>
    <!-------------------- Footer Area (End) -------------------->
    <!-- SWIPER JS -->
    <script src="~/vendors/swiper/swiper.js"></script>

    <!-- Magnific-Popup JS -->
    <script src="~/vendors/magnific-popup/jquery.magnific-popup.js"></script>

    

    <!-- Custom Script File -->
    <script src="~/js/script.js"></script>
    <script src="~/js/scroll-spy.js"></script>
    <script src="~/js/counter-up.js"></script>
    <script src="~/js/portfolio.js"></script>
    <script src="~/js/testi-slider.js"></script>
    <script src="~/js/blog-slider.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
